<div class="card text-white bg-{{bgClass}}">
  <div class="card-header">
    <div class="row">
      <div class="col col-xs-2">
        <i class="fa {{icon}} fa-5x"></i>
      </div>
      <div class="col col-xs-10 text-right">
        <div class="d-block">{{name}}</div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <span class="float-left">Ver Detalles</span>
    <div class="form-check float-right card-inverse">
      <label class="form-check-label">
        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
      </label>
    </div>
  </div>
</div>
