<div [@routerTransition]>
  <h2 class="text-muted">Panel de Control</h2>
  <div class="row">
    <div class="col-xl-3 col-lg-6">
      <app-statistical-panels [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'Ingresos'"></app-statistical-panels>
    </div>
    <div class="col-xl-3 col-lg-6">
      <app-statistical-panels [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'Próximos a Vencerse'"></app-statistical-panels>
    </div>
    <div class="col-xl-3 col-lg-6">
      <app-statistical-panels [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'Pagados'"></app-statistical-panels>
    </div>
    <div class="col-xl-3 col-lg-6">
      <app-statistical-panels [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'Vencidos'"></app-statistical-panels>
    </div>
  </div>
</div>