<div class="card text-white bg-{{bgClass}}">
  <div class="card-header">
    <div class="row">
      <div class="col col-xs-1">
        <i class="fa {{icon}} fa-2x"></i>        
      </div>
      <div class="col col-xs-11 text-right">
        <div class="d-block">
          <h2>{{name}}</h2></div>
      </div>
    </div>
    <div class="row check-module">
      <div class="col-xs-12">
        <input type="checkbox"  value="">
      </div>
    </div>
  </div>
  <div class="card-footer">
    <span class="float-left">{{details}}</span>    
  </div>  
</div>

