<div class="login-page" [@ComponentTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
      <h1>{{'Home Administration' | translate }}</h1>
      <form role="form">
        <div class="form-content">
          <div class="form-group">
            <input 
              type="email" 
              name="email"
              required
              class="form-control input-underline input-lg" 
              placeholder="{{'Email' | translate }}">
              <span *ngIf="!email.valid && email.touched">
                El mail es obligatorio
              </span>
          </div>
          <div class="form-group">
            <input 
              type="password" 
              name="password"
              required
              class="form-control input-underline input-lg" 
              placeholder="{{'Password' | translate }}">
              <span *ngIf="!password.valid && password.touched">
                El password es obligatorio
              </span>
          </div>
        </div>
        <a class="btn rounded-btn" [routerLink]="['/']" (click)="authenticate()">{{'Login' | translate }}</a>
        &nbsp;
        <a class="btn rounded-btn" [routerLink]="['/signup/']">{{'Signup' | translate }}</a>
      </form>
    </div>
  </div>
</div>