<div [@ComponentTransition]>
    <app-page-header [heading]="'Settings'" [icon]="'fa-th-list'"></app-page-header>
    <div class="row">
        <div *ngFor="let module of staticInformation.modules" class="col-xl-3 col-lg-6">
            <app-module-panel 
                [bgClass]="module.bgClass" 
                [icon]="module.icon" 
                [name]="module.name" 
                [details]="module.details"
                [locked]="module.locked">
            </app-module-panel>
        </div>        
    </div>
    <div class="row">        
        <div class="col-xl-12">
            <hr/>
            <button type="button" class="btn btn-primary float-right mx-1">Guardar</button>
            <button type="button" class="btn btn-secondary float-right mx-1">Cancelar</button>
        </div>        
    </div>
</div>